<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/bttop.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" id="font-awesome-css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
</head>
<body>
	
	<div id="header">
		
		<h1 id="logo">{{site.title}}</h1>

	</div>