body{
	color:#333;
	margin:0;
	padding:0;
	font: normal 100%/1.4 Gorgia, serif;
}
.current {
	background-color:#000531;
	color:#ffffff;
}
.nav {
	margin:0;
	padding:0;
}
.nav > li {
	display:inline-block;
}
.nav-top{
	font-size:18px;
}