.masthead{
	padding:1em;
	background:#000531 url("../assets/images/header1.jpg") no-repeat center center;
	background-size:cover;
	color:#ffffff;
}
.masthead-planets{
	background:url("../assets/images/header2.jpg");
}