.current {
	background-color:#000531;
	color:#ffffff;
}
.nav {
	margin:0;
	padding:0;
}
.nav > li {
	display:inline-block;
}
.nav-top{
	font-size:25px;
}
.nav li a{
	padding:5px;
}
.nav.nav-bottom{
	margin-bottom:10px;
}
