<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{% if page.title %}{{page.title}}|{% endif %}Planets of the universe.</title>
		<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
	</head>

  <body>
	<div class="container">
		<header class="masthead {{page.mastheadClass}}">
		  <h1>Planets of the Universe.</h1>
		  {% include nav.html navclass='nav-top' %}
		</header>
		<div class="page-content">
		  <div class="wrapper">
			{{ content }}
		  </div>
		</div>

		<div class="footer">
			{% include nav.html navclass='nav-bottom' %}
			Copyright &copy; {{ site.time | date: '%Y' }} 
		</div>
	</div>
  </body>
</html>
